// background
$background-dark: #F8F8F8;
$background-light: #fff;
// border
$border: #EAEAEA;
$border-highlight: #B8FFEC;
$border-highlight-light: #D9FFF5;
// divider
$divider: $border;
$divider-highlight: #41f6d7;
// text
$text: #1B1C21;
$text-light: #7E7E82;
$text-link: #FF3E79;
// shadow
$shadow: hsl(231 69% 19% / 0.2);
$shadow-light: hsl(230 29% 38% / 0.02);
// swiper
$swiper-dot: #b5b6bc; //maybe delete