@use 'module-bundle'as *;

a.btn {
    @include fontMed();

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

button {
    @include fontMed();
}

button>span {
    @include fontMed();

}

h1 {
    @include fontBold();
    font-size: 1.75rem;
}

h2 {
    @include fontReg();
    text-transform: uppercase;
}

p {
    @include fontReg();
}

span {
    @include fontReg();
}