@use 'module-bundle'as *;

a.btn {
    @include fontMed();
    color: $text;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    @include fontReg();
}

a {
    // @include fontMed();
    color: $text-link;
}

button {
    @include fontMed();
}

button>span {
    @include fontMed();

}

h1 {
    @include fontBold();
    font-size: 1.75rem;
}

h2 {
    @include fontReg();
    text-transform: uppercase;
}



span {
    @include fontReg();
}