@use 'module-bundle' as *;


.title-wrapper {
    position: relative;
    overflow: hidden;
    margin-left: calc($space * -1);

    h1 {
        margin-left: $space;
        // font-family: $f-bold, monospace; //change font
        letter-spacing: -0.6px; //change font
        line-height: 2.5rem; //change font
        &::before {
            content: '';
            position: absolute;
            left: -.1rem;
            height: 2.5rem;
            border-right: 6px solid $divider-highlight;
            border-radius: 6px;
        }
        
    }
}

.subtitle-wrapper {
    border-top: 1px solid $border-highlight-light;
    margin-inline:calc($space * -1);
    padding-block: 1rem;
    background: linear-gradient(90deg ,$background-dark, $background-light);

    h2 {
        margin-inline: $space;
        text-transform:uppercase;
        letter-spacing: -.2px; //change font
        line-height: 1.5rem; //change font
        font-size: 1rem; //change font
        font-family: $f-reg, monospace; //change font
        color: $text-light;
        font-weight: 550; //change font
    }
}

input, textarea {
    color: $text-light;
    // font-family: $f-med; //change font
    font-size: 1rem; //change font
    line-height: 2.75rem; //change font
    letter-spacing: -0.2px; //change font
    outline: $border;
    padding-inline-start: 1rem;
}

legend {
    display: inline;
    color: $text-light;
    // font-family: $f-med; //change font
    font-size: 14px; //change font
}

a {
    color: $text-link;
    &:hover, &:focus {
        text-decoration: underline;
    }
}

p {
    font-family: $f-reg, monospace; //change font
    font-size: 14px;
    letter-spacing: 0.2px;
}

button > span {
    font-family: $f-med, monospace; //change font
    letter-spacing: -.2px;
}