@forward 'clr';
@forward 'var';
@use 'clr';
@use 'var';

@mixin flex ($gap, $direction, $align) {
    display: flex;

    @if ($gap !=0) {
        gap: $gap;
    }

    @if ($direction==column) {
        flex-direction: $direction;
    }

    @if ($align==center) {
        align-items: $align;
    }
}

@mixin dividerHighlight($divider-height) {
    position: relative;
    display: flex;

    &::before{ // for dividers
        content: '';
        position: absolute;
        align-self: center;
        border-left: 6px solid clr.$divider-highlight;
        border-radius: 6px;
        width: 6px;
        height: $divider-height;
        left: calc(var.$space * -1.1);
    }
}

@mixin fade () {

    position: relative;

    &::before {
        content: '';
        position: absolute;
        align-self: center;
        background: linear-gradient(90deg, clr.$background-dark, transparent);
        height: 100%;
        width: 5%;
        left: 0;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        align-self: center;
        background: linear-gradient(90deg, transparent, clr.$background-dark);
        height: 100%;
        width: 5%;
        right: 0;
        z-index: 1;
    }

}