@use 'module-bundle'as *;

.hidden {
    display: none !important;
}

.active {
    cursor: default !important;
    opacity: .5 !important;
}

.title-wrapper {
    &>* {
        margin-left: $space; 
        @include dividerHighlight(2.5rem);
    }
}