@use 'module-bundle'as *;

.hidden {
    display: none !important;
}

.active {
    cursor: default !important;
    opacity: .5 !important;
}

.hide {

    display: grid;
    transition: grid-template-rows .4s ease-in-out;
    grid-template-rows: 1fr;

    * {
        overflow: hidden;
        transition: height 5s ease-in-out; //hahaha
        min-height: 1.05rem;
        height: 100%;
    }

    &--closed {
        grid-template-rows: 0fr;
        * {
            height: 0%;
        }
    }

}

.title-wrapper {
    * {
        @include dividerHighlight(2.5rem);
    }
}

.subtitle-wrapper {
    border-top: 1px solid $border-highlight-light;
    background: linear-gradient(90deg, transparent, $background-light);
    margin-inline: calc($space * -1);
    * {
        padding: 1rem $space;
    }
}