@use 'module-bundle'as *;

.hidden {
    display: none !important;
}

.active {
    cursor: default !important;
    opacity: .5 !important;
}

.hide { // for text

    display: grid;
    transition: grid-template-rows .4s cubic-bezier(0.1, 1.55, .555, .115);
    grid-template-rows: 1fr;

    * {
        overflow: hidden;
        min-height: 1.05rem;
    }

    &--closed {
        grid-template-rows: 0fr !important;
    }

}

.collapse { //for swiper stuff, code unhinged

    @media (min-width: $breakpoint-sm) {

        display: grid !important;
        transition: grid-template-rows .5s cubic-bezier(0.1, 1.55, .555, .115);
        grid-template-rows: 1fr;

        * {
            overflow: hidden;
        }

        &--closed {
            grid-template-rows: 0fr !important;
        }
    }
}

.title-wrapper {
    * {
        @include dividerHighlight(2.5rem);
    }
}

.subtitle-wrapper {
    border-top: 1px solid $border-highlight-light;
    background: linear-gradient(90deg, transparent, $background-light);

    @media (min-width: $breakpoint-sm) {
        margin-inline: calc($space * -1);
    }

    * {
        padding: 1rem $space;
    }
}