@use 'module-bundle'as *;

.section {
    @include flex(1rem, column, 0);
    padding-block: $space;
    margin-inline: calc($space * -1); // for swiper only

    @media (min-width: $breakpoint-sm) {
        margin-inline: 0; //regular margin
    }

    &__content {
        margin-top: 1rem;
        @include flex(1rem, column, 0);
    }

    &__card-wrapper {
        @media (min-width: $breakpoint-sm) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(14rem, auto)); // works good
            gap: 1rem;
        }


    }

    &__card {
        background: $background-light;
        border: 1px solid $border;
        border-radius: 6px;

        transition: filter .5s cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover,
        &:focus {
            filter: drop-shadow(0 .5rem 1rem $shadow);
        }
        
        & > button {
            @include flex(1rem, 0, 0);
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
    }
}