@use './modules/module-bundle' as *;

.brands {
    &__card {
        height: 4.5rem;
        padding-block: 1rem;
        align-items: center;

        img {
            display: block;
        }
    }
}