@use './modules/module-bundle'as *;

.brands {

    &__card-wrapper {
        min-height: 4.5rem;
    }

    &__card {
        min-height: 4.5rem;
    }

    &__btn {
        align-items: center;
        padding: 0 1rem;
    }
}
