@use './modules/module-bundle'as *;

.swiper {
    width: 100%;

    @include fade();

    @media (min-width: $breakpoint-sm) {
        &::after {
            content: none;
        };

        &::before {
            content: none;
        };
    }
}

.swiper-wrapper {
    width: 100%;
}

.swiper-pagination {

    position: relative !important;
    padding-bottom: .5rem;

    @media (min-width: $breakpoint-sm) {
        padding-bottom: 0;
    }

    &-bullet {

        &:hover,
        &:focus {
            box-shadow: 0 0 10px .2rem $divider-highlight !important;
        }

        &-active {

            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
}

@layer components {
    :root {
        --swiper-pagination-color: #b5b6bc;
        --swiper-pagination-bullet-size: .75rem;
        --swiper-pagination-bottom: 0rem;
    }
}


// import Swiper style
@media (max-width: 767px) {
    @import "swiper/css";
    @import "swiper/css/pagination";
}