@use './modules/module-bundle'as *;

@mixin pseudoStl ($content) {
    content: $content;
    font-size: 14px;
    color: $text-light;
    display: block;
}

.price-list {

    &__card-wrapper {
        gap: 1rem;

        @media (min-width: $breakpoint-sm) {
            grid-template-columns: none;
            gap: 0;
            background-color: #fff;
            border-radius: 6px;
        }
    }

    &__card {
        position: relative;
        height: 12.5rem;
        flex-flow: column;
        border: none;
        padding: 1rem $space;

        @include flex(0, column, 0);
        justify-content: space-between;
        

        @media (min-width: $breakpoint-sm) {
            height: auto;
            display: grid;
            grid-template-columns: 4fr 1fr 2.3fr;
            align-items: center;

            &:hover,
            &:focus {
                background-color: $shadow-light;
                filter: none;
            }

            &:not(:last-child)::after {

                position: absolute;
                content: "";
                left: 50%;
                bottom: 0;
                width: 90%;
                transform: translate(-50%, -50%);
                border-bottom: 1px solid $border;
            }
        }

        & div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media (max-width: 767px) {
        &__card-service {
            &::before {
                @include pseudoStl('Ремонтные услуги');
            }
        }

        &__card-price {
            &::before {
                @include pseudoStl('Цена');
            }
        }

        &__card-time {
            &::before {
                @include pseudoStl('Срок');
            }
        }
    }

    .text {
        display: none;

        @media (min-width: $breakpoint-sm) {
            color: $text-light;
            display: grid;
            grid-template-columns: 4fr 1fr 2.3fr;
            padding: 0 $space;
        }

    }

    &__bottom {
        max-width: 27rem;
        @include flex(1rem, column, center);
        justify-content: space-between;

        @media (max-width: 767px) {
            padding-inline: $space;
        }
    }
}