@use './modules/module-bundle' as *;

@mixin pseudoStl ($content) {
    content: $content;
    // font-family: $f-med, monospace; //change font
    font-size: 14px;
    color: $text-light;
    display: block;
}

.price-list {

    &__card-wrapper {
        gap: 1rem;
        @media (min-width: $breakpoint-sm) {
            grid-template-columns: none;
            gap: 0;
            background-color: #fff;
            border-radius: 6px;
        }
    }
    
    &__card {
        height: 12.5rem;
        flex-flow: column;
        border: none;

        @media (min-width: $breakpoint-sm) {
            padding-block: 1rem;
            height: auto;
            display: grid;
            grid-template-columns: 4fr 1fr 2.3fr;
            align-items: center;
        }

        & div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media (max-width: 767px) { //change later
        &__card-service {
            &::before {
                @include pseudoStl('Ремонтные услуги');
            }
        }

        &__card-price {
            &::before {
                @include pseudoStl('Цена');         
            }
        }

        &__card-time {
            &::before {
                @include pseudoStl('Срок');
            }
        }
    }
    
    .text {
        display: none;
        @media (min-width: $breakpoint-sm) {
            color: $text-light;
            display: grid;
            grid-template-columns: 4fr 1fr 2.3fr;
            padding: 0 1rem;
        }
        
    }

    &__bottom {
        width: 27rem;
    }
}