@use './modules/module-bundle' as *;

.side-menu {
    width: 100%;
    max-width: $breakpoint-xs;
    height: 100%;

    background: $background-light;

    @media (max-width: $breakpoint-xsm) {
        max-width: $breakpoint-xsm;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        // width: 100vw;
        height: 100%;
        background-color: $background-light;
        opacity: 0.2;
    }

    &__debug {
        width: 100%;
        height: 1700px;
        background-color: bisque;
    }
}