@font-face {
    font-family: 'TTLakes-Regular';
    font-style: normal;

    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
         url('/src/assets/font/TTLakes-Regular.woff') format('woff'),
         url('/src/assets/font/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TTLakes-Medium';
    font-style: normal;

    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
         url('/src/assets/font/TTLakes-Medium.woff') format('woff'),
         url('/src/assets/font/TTLakes-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TTLakes-Bold';

    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
         url('/src/assets/font/TTLakes-Bold.woff') format('woff'),
         url('/src/assets/font/TTLakes-Bold.ttf') format('truetype');
}